
body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0; /* Fondo claro */
        }

        h1 {
            font-size: 36px; /* Tamaño del texto */
            color: #2c3e50; /* Color del texto */
            margin-bottom: 20px; /* Espaciado inferior */
            text-align: center; /* Alinear el texto al centro */
            font-family: Arial, sans-serif; /* Fuente del texto */
        }
